In [1]:
import csv
import pandas as pd

In [2]:
csv_path = input("File_Name?")

File_Name?echo_test.csv

In [3]:

df = pd.read_csv(csv_path)
df.columns

Index(['Index', 'TEMPLATE_PLATE', 'TEMPLATE_WELL', 'TEMPLATE_VOLUME',
       'PRIMER1_PLATE', 'PRIMER1_WELL', 'PRIMER1_VOLUME', 'PRIMER2_PLATE',
       'PRIMER2_WELL', 'PRIMER2_VOLUME', 'PCR_MIX_PLATE', 'PCR_MIX_WELL',
       'PCR_MIX_VOLUME', 'OUTPUT_PLATE', 'OUTPUT_WELL', 'REACTION_NUMBER',
       'OPTIMAL_ANNEALING_TEMP', 'THERMOCYCLER_BLOCK', 'THERMOCYCLER_ZONE',
       'THERMOCYCLER_ZONE_ANNEALING_TEMP', 'EXPECTED_SIZE'],
      dtype='object')

In [4]:
df = df.drop(columns=['Index', 'TEMPLATE_PLATE', 'TEMPLATE_WELL', 'TEMPLATE_VOLUME',
       'PRIMER1_PLATE', 'PRIMER1_WELL', 'PRIMER1_VOLUME', 'PRIMER2_PLATE',
       'PRIMER2_WELL', 'PRIMER2_VOLUME', 'PCR_MIX_PLATE', 'PCR_MIX_WELL',
       'PCR_MIX_VOLUME', 'OUTPUT_PLATE'])

In [5]:
df = df.set_index('OUTPUT_WELL')
df.head()

,REACTION_NUMBER,OPTIMAL_ANNEALING_TEMP,THERMOCYCLER_BLOCK,THERMOCYCLER_ZONE,THERMOCYCLER_ZONE_ANNEALING_TEMP,EXPECTED_SIZE
OUTPUT_WELL,,,,,,
A01,7,62.5,0,0,62.7,6567
B01,41,62.5,0,0,62.7,6567
C01,4,62.6,0,0,62.7,6567
D01,42,62.7,0,0,62.7,6567
E01,5,62.7,0,0,62.7,6567

In [6]:
df = df.sort_values(['EXPECTED_SIZE'],ascending=True)
df.head()

,REACTION_NUMBER,OPTIMAL_ANNEALING_TEMP,THERMOCYCLER_BLOCK,THERMOCYCLER_ZONE,THERMOCYCLER_ZONE_ANNEALING_TEMP,EXPECTED_SIZE
OUTPUT_WELL,,,,,,
D05,1,65.6,0,2,65.7,230
D11,48,71.4,0,5,71.0,373
H01,2,62.9,0,0,62.7,832
B03,47,63.5,0,1,63.8,887
B11,45,70.4,0,5,71.0,1222

In [7]:
echo_ins = input("Name Echo file?")

Name Echo file?nimbus_Biomek

In [9]:
df.to_csv(f"{echo_ins}.csv")