In [1]:
import csv
import pandas as pd

In [2]:
csv_path = input("File_Name?")

File_Name?Sam_PCR_troubleshooting.csv

In [3]:
source_well=[]
primer_F_well=[]
primer_R_well=[]

with open(csv_path, newline="") as csv_file:
    csv_data = csv.reader(csv_file,delimiter=",")
    rows= list(csv_data)
    for cols in rows[1:]:
        well_temp = cols[2]
        pri_For_well = cols[5]
        pri_Rev_well = cols[8]
        source_well.append(well_temp)
        primer_F_well.append(pri_For_well)
        primer_R_well.append(pri_Rev_well)

In [4]:
source_well.extend(primer_F_well)
source_well.extend(primer_R_well)

In [5]:
df = pd.DataFrame(source_well, columns=['Source Well'])

# df.head()

In [6]:
Destination_well=[]
with open(csv_path, newline="") as csv_file:
    csv_data = csv.reader(csv_file,delimiter=",")
    rows= list(csv_data)
    for cols in rows[1:]:
        Dest_Well = cols[14]
        Destination_well.append(Dest_Well)
        
# print(Destination_well)

In [7]:
Destination_well_Final= 3*Destination_well
# len(Destination_well_Final)

df['Destination well'] = Destination_well_Final

In [8]:
Temp_vol= int(input("Template DNA volume(ul): ?"))
Primer_For_vol= int(input("Primer (Forward) volume(ul): ?"))
Primer_Rev_vol= int(input("Primer (Reverse) volume(ul): ?"))

Template DNA volume(ul): ?1000
Primer (Forward) volume(ul): ?600
Primer (Reverse) volume(ul): ?600

In [9]:
rn_num = df.count()[0]
# rn_num

In [10]:
temp_vol_list= [Temp_vol]
temp_vol_list=temp_vol_list*(int(rn_num/3))

primer_F_vol_list= [Primer_For_vol]
primer_F_vol_list = primer_F_vol_list*(int(rn_num/3))

primer_R_vol_list= [Primer_Rev_vol]
primer_R_vol_list = primer_R_vol_list*(int(rn_num/3))

primer_R_vol_list

temp_vol_list.extend(primer_F_vol_list)
temp_vol_list.extend(primer_R_vol_list)
Final_vol_list= temp_vol_list
# Final_vol_list

In [11]:
len(Final_vol_list)

36

In [12]:
df["Transfer Volume"]= Final_vol_list
df.head()

  Source Well Destination well  Transfer Volume
0         C13              A01             1000
1         A13              A03             1000
2         A13              A05             1000
3         C13              A03             1000
4         A13              A05             1000

In [13]:
df = df.set_index('Source Well')
df.head()

            Destination well  Transfer Volume
Source Well
C13                      A01             1000
A13                      A03             1000
A13                      A05             1000
C13                      A03             1000
A13                      A05             1000

In [14]:
echo_ins = input("Name Echo file?")

Name Echo file?Sam_echo_inst

In [15]:
df.to_csv(f"{echo_ins}.csv")