In [1]:
import csv
import pandas as pd

In [2]:
csv_data = pd.read_csv("assembly_reactions.csv")
type(csv_data)

df = pd.DataFrame(csv_data)

df.head()

,Number,Name,Assembly Method,Part(s),Assembly Piece ID Number,Part(s).1,Assembly Piece ID Number.1,Part(s).2,Assembly Piece ID Number.2,Part(s).3,Assembly Piece ID Number.3,Part(s).4,Assembly Piece ID Number.4,Part(s).5,Assembly Piece ID Number.5
0,0,pj5_00009,Golden-gate,(backbone),0,(opMO),15,(hpPYCnoBsaIFirstHalf),16,(hpPYCnoBsaISecondHalf),32,nk,48.0,tl,50.0
1,1,pj5_00010,Golden-gate,(backbone),0,(opMOec),15,(hpPYCnoBsaIFirstHalf),17,(hpPYCnoBsaISecondHalf),33,nk,48.0,tl,51.0
2,2,pj5_00011,Golden-gate,(backbone),1,(opMOec),15,(hpPYCnoBsaIFirstHalf),18,(hpPYCnoBsaISecondHalf),34,nk,48.0,NaN,NaN
3,3,pj5_00012,Golden-gate,(backbone),2,(opMOec),15,(hpPYCnoBsaIFirstHalf),19,(hpPYCnoBsaISecondHalf),35,NaN,NaN,NaN,NaN
4,4,pj5_00013,Golden-gate,(backbone),3,(opMOec),15,(hpPYCnoBsaIFirstHalf),20,(hpPYCnoBsaISecondHalf),36,NaN,NaN,NaN,NaN

In [3]:
df = df.drop(["Number"], axis=1)

In [4]:
Backbone = list(df["Assembly Piece ID Number"])

In [5]:
Construct_list = list(df["Name"])
# Construct_list

In [6]:
df.set_index('Name', inplace=True)

df

,Assembly Method,Part(s),Assembly Piece ID Number,Part(s).1,Assembly Piece ID Number.1,Part(s).2,Assembly Piece ID Number.2,Part(s).3,Assembly Piece ID Number.3,Part(s).4,Assembly Piece ID Number.4,Part(s).5,Assembly Piece ID Number.5
Name,,,,,,,,,,,,,
pj5_00009,Golden-gate,(backbone),0,(opMO),15,(hpPYCnoBsaIFirstHalf),16,(hpPYCnoBsaISecondHalf),32,nk,48.0,tl,50.0
pj5_00010,Golden-gate,(backbone),0,(opMOec),15,(hpPYCnoBsaIFirstHalf),17,(hpPYCnoBsaISecondHalf),33,nk,48.0,tl,51.0
pj5_00011,Golden-gate,(backbone),1,(opMOec),15,(hpPYCnoBsaIFirstHalf),18,(hpPYCnoBsaISecondHalf),34,nk,48.0,NaN,NaN
pj5_00012,Golden-gate,(backbone),2,(opMOec),15,(hpPYCnoBsaIFirstHalf),19,(hpPYCnoBsaISecondHalf),35,NaN,NaN,NaN,NaN
pj5_00013,Golden-gate,(backbone),3,(opMOec),15,(hpPYCnoBsaIFirstHalf),20,(hpPYCnoBsaISecondHalf),36,NaN,NaN,NaN,NaN
pj5_00014,Golden-gate,(backbone),4,(opMOec),15,(hpPYCnoBsaIFirstHalf),21,(hpPYCnoBsaISecondHalf),37,NaN,NaN,NaN,NaN
pj5_00015,Golden-gate,(backbone),5,(opMOec),15,(hpPYCnoBsaIFirstHalf),22,(hpPYCnoBsaISecondHalf),38,NaN,NaN,NaN,NaN
pj5_00016,Golden-gate,(backbone),6,(opMOec),15,(hpPYCnoBsaIFirstHalf),23,(hpPYCnoBsaISecondHalf),39,nk,48.0,NaN,NaN
pj5_00017,Golden-gate,(backbone),7,(opMOec),15,(hpPYCnoBsaIFirstHalf),24,(hpPYCnoBsaISecondHalf),40,nk,48.0,NaN,NaN
pj5_00018,Golden-gate,(backbone),8,(opMOec),15,(hpPYCnoBsaIFirstHalf),25,(hpPYCnoBsaISecondHalf),41,nk,48.0,NaN,NaN
pj5_00019,Golden-gate,(backbone),9,(opMOec),15,(hpPYCnoBsaIFirstHalf),26,(hpPYCnoBsaISecondHalf),42,NaN,NaN,NaN,NaN
pj5_00020,Golden-gate,(backbone),10,(opMOec),15,(hpPYCnoBsaIFirstHalf),27,(hpPYCnoBsaISecondHalf),43,NaN,NaN,NaN,NaN
pj5_00021,Golden-gate,(backbone),11,(opMOec),15,(hpPYCnoBsaIFirstHalf),28,(hpPYCnoBsaISecondHalf),44,NaN,NaN,NaN,NaN
pj5_00022,Golden-gate,(backbone),12,(opMOec),15,(hpPYCnoBsaIFirstHalf),29,(hpPYCnoBsaISecondHalf),45,NaN,NaN,NaN,NaN
pj5_00023,Golden-gate,(backbone),13,(opMOec),15,(hpPYCnoBsaIFirstHalf),30,(hpPYCnoBsaISecondHalf),46,NaN,NaN,NaN,NaN
pj5_00024,Golden-gate,(backbone),14,(opMOec),15,(hpPYCnoBsaIFirstHalf),31,(hpPYCnoBsaISecondHalf),47,NaN,NaN,NaN,NaN

In [7]:
df.shape

(16, 13)

In [8]:
df.columns

Index(['Assembly Method', 'Part(s)', 'Assembly Piece ID Number', 'Part(s).1',
       'Assembly Piece ID Number.1', 'Part(s).2', 'Assembly Piece ID Number.2',
       'Part(s).3', 'Assembly Piece ID Number.3', 'Part(s).4',
       'Assembly Piece ID Number.4', 'Part(s).5',
       'Assembly Piece ID Number.5'],
      dtype='object')

In [9]:
# df.iloc[0]

In [10]:
df['Assembly Piece ID Number'][0]

0

In [11]:
column_names = list(df.columns)
column_names
df

,Assembly Method,Part(s),Assembly Piece ID Number,Part(s).1,Assembly Piece ID Number.1,Part(s).2,Assembly Piece ID Number.2,Part(s).3,Assembly Piece ID Number.3,Part(s).4,Assembly Piece ID Number.4,Part(s).5,Assembly Piece ID Number.5
Name,,,,,,,,,,,,,
pj5_00009,Golden-gate,(backbone),0,(opMO),15,(hpPYCnoBsaIFirstHalf),16,(hpPYCnoBsaISecondHalf),32,nk,48.0,tl,50.0
pj5_00010,Golden-gate,(backbone),0,(opMOec),15,(hpPYCnoBsaIFirstHalf),17,(hpPYCnoBsaISecondHalf),33,nk,48.0,tl,51.0
pj5_00011,Golden-gate,(backbone),1,(opMOec),15,(hpPYCnoBsaIFirstHalf),18,(hpPYCnoBsaISecondHalf),34,nk,48.0,NaN,NaN
pj5_00012,Golden-gate,(backbone),2,(opMOec),15,(hpPYCnoBsaIFirstHalf),19,(hpPYCnoBsaISecondHalf),35,NaN,NaN,NaN,NaN
pj5_00013,Golden-gate,(backbone),3,(opMOec),15,(hpPYCnoBsaIFirstHalf),20,(hpPYCnoBsaISecondHalf),36,NaN,NaN,NaN,NaN
pj5_00014,Golden-gate,(backbone),4,(opMOec),15,(hpPYCnoBsaIFirstHalf),21,(hpPYCnoBsaISecondHalf),37,NaN,NaN,NaN,NaN
pj5_00015,Golden-gate,(backbone),5,(opMOec),15,(hpPYCnoBsaIFirstHalf),22,(hpPYCnoBsaISecondHalf),38,NaN,NaN,NaN,NaN
pj5_00016,Golden-gate,(backbone),6,(opMOec),15,(hpPYCnoBsaIFirstHalf),23,(hpPYCnoBsaISecondHalf),39,nk,48.0,NaN,NaN
pj5_00017,Golden-gate,(backbone),7,(opMOec),15,(hpPYCnoBsaIFirstHalf),24,(hpPYCnoBsaISecondHalf),40,nk,48.0,NaN,NaN
pj5_00018,Golden-gate,(backbone),8,(opMOec),15,(hpPYCnoBsaIFirstHalf),25,(hpPYCnoBsaISecondHalf),41,nk,48.0,NaN,NaN
pj5_00019,Golden-gate,(backbone),9,(opMOec),15,(hpPYCnoBsaIFirstHalf),26,(hpPYCnoBsaISecondHalf),42,NaN,NaN,NaN,NaN
pj5_00020,Golden-gate,(backbone),10,(opMOec),15,(hpPYCnoBsaIFirstHalf),27,(hpPYCnoBsaISecondHalf),43,NaN,NaN,NaN,NaN
pj5_00021,Golden-gate,(backbone),11,(opMOec),15,(hpPYCnoBsaIFirstHalf),28,(hpPYCnoBsaISecondHalf),44,NaN,NaN,NaN,NaN
pj5_00022,Golden-gate,(backbone),12,(opMOec),15,(hpPYCnoBsaIFirstHalf),29,(hpPYCnoBsaISecondHalf),45,NaN,NaN,NaN,NaN
pj5_00023,Golden-gate,(backbone),13,(opMOec),15,(hpPYCnoBsaIFirstHalf),30,(hpPYCnoBsaISecondHalf),46,NaN,NaN,NaN,NaN
pj5_00024,Golden-gate,(backbone),14,(opMOec),15,(hpPYCnoBsaIFirstHalf),31,(hpPYCnoBsaISecondHalf),47,NaN,NaN,NaN,NaN

In [12]:
column_num = df.shape[1]
column_num
Construct_list

['pj5_00009',
 'pj5_00010',
 'pj5_00011',
 'pj5_00012',
 'pj5_00013',
 'pj5_00014',
 'pj5_00015',
 'pj5_00016',
 'pj5_00017',
 'pj5_00018',
 'pj5_00019',
 'pj5_00020',
 'pj5_00021',
 'pj5_00022',
 'pj5_00023',
 'pj5_00024']

In [13]:
col = list(range(4,column_num+1,2))
col

[4, 6, 8, 10, 12]

In [14]:
index = []
for col_num in col:
    index.append(df.iloc[0,col_num])

print(index)

[15, 16, 32, 48.0, 50.0]

In [15]:
drop_column_num_list = list(range(2,len(column_names)+1,2))
drop_column_num_list

# df.drop(df.columns[list(range(2,len(column_names)+1,2))], axis=1, inplace=True)

[2, 4, 6, 8, 10, 12]

In [16]:
column_numbers = list(range(len(column_names)+1))
column_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [17]:
df.columns

Index(['Assembly Method', 'Part(s)', 'Assembly Piece ID Number', 'Part(s).1',
       'Assembly Piece ID Number.1', 'Part(s).2', 'Assembly Piece ID Number.2',
       'Part(s).3', 'Assembly Piece ID Number.3', 'Part(s).4',
       'Assembly Piece ID Number.4', 'Part(s).5',
       'Assembly Piece ID Number.5'],
      dtype='object')

In [18]:
# for col_num in drop_column_num_list:
#     df.drop([column_names[col_num]], axis=1)
# df

In [19]:
# df.shape[0]
row_list = list(range(df.shape[0]))
row_list
# for row in row_list:
#     print(row)

# for col_num in col:
#     print(col_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [20]:
assembly_list = []
row_list = list(range(df.shape[0]))
# for construct in Construct_list:
for row in row_list:
    construct = Construct_list[row]
    bb = df['Assembly Piece ID Number'][row]
    insert = [] 
    for col_num in col:
        insert.append(df.iloc[row,col_num])
#         print(insert)
        assembly_dict = {
           construct:{"bb":bb, "insert" : insert }
                }
    assembly_list.append(assembly_dict)
#     print(assembly_dict)
print(assembly_list)

[{'pj5_00009': {'bb': 0, 'insert': [15, 16, 32, 48.0, 50.0]}}, {'pj5_00010': {'bb': 0, 'insert': [15, 17, 33, 48.0, 51.0]}}, {'pj5_00011': {'bb': 1, 'insert': [15, 18, 34, 48.0, nan]}}, {'pj5_00012': {'bb': 2, 'insert': [15, 19, 35, nan, nan]}}, {'pj5_00013': {'bb': 3, 'insert': [15, 20, 36, nan, nan]}}, {'pj5_00014': {'bb': 4, 'insert': [15, 21, 37, nan, nan]}}, {'pj5_00015': {'bb': 5, 'insert': [15, 22, 38, nan, nan]}}, {'pj5_00016': {'bb': 6, 'insert': [15, 23, 39, 48.0, nan]}}, {'pj5_00017': {'bb': 7, 'insert': [15, 24, 40, 48.0, nan]}}, {'pj5_00018': {'bb': 8, 'insert': [15, 25, 41, 48.0, nan]}}, {'pj5_00019': {'bb': 9, 'insert': [15, 26, 42, nan, nan]}}, {'pj5_00020': {'bb': 10, 'insert': [15, 27, 43, nan, nan]}}, {'pj5_00021': {'bb': 11, 'insert': [15, 28, 44, nan, nan]}}, {'pj5_00022': {'bb': 12, 'insert': [15, 29, 45, nan, nan]}}, {'pj5_00023': {'bb': 13, 'insert': [15, 30, 46, nan, nan]}}, {'pj5_00024': {'bb': 14, 'insert': [15, 31, 47, nan, nan]}}]

In [21]:
assembly_list[0]["pj5_00009"]['insert']

[15, 16, 32, 48.0, 50.0]

In [23]:
df = pd.DataFrame()
df

,pj5_00009,pj5_00010,pj5_00011,pj5_00012,pj5_00013,pj5_00014,pj5_00015,pj5_00016,pj5_00017,pj5_00018,pj5_00019,pj5_00020,pj5_00021,pj5_00022,pj5_00023,pj5_00024
0,"{'bb': 0, 'insert': [15, 16, 32, 48.0, 50.0]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"{'bb': 0, 'insert': [15, 17, 33, 48.0, 51.0]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"{'bb': 1, 'insert': [15, 18, 34, 48.0, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"{'bb': 2, 'insert': [15, 19, 35, nan, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"{'bb': 3, 'insert': [15, 20, 36, nan, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,"{'bb': 4, 'insert': [15, 21, 37, nan, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 5, 'insert': [15, 22, 38, nan, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 6, 'insert': [15, 23, 39, 48.0, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 7, 'insert': [15, 24, 40, 48.0, nan]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 8, 'insert': [15, 25, 41, 48.0, nan]}",NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 9, 'insert': [15, 26, 42, nan, nan]}",NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 10, 'insert': [15, 27, 43, nan, nan]}",NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 11, 'insert': [15, 28, 44, nan, nan]}",NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 12, 'insert': [15, 29, 45, nan, nan]}",NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 13, 'insert': [15, 30, 46, nan, nan]}",NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'bb': 14, 'insert': [15, 31, 47, nan, nan]}"